<!DOCTYPE html>
<html>
  <head>
    <title>WhoAmI? | Header Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico|Muli:400,300">
    <link rel="stylesheet" href="/public/css/styles.css"
  </head>
  <body>
	<div class="container">
	  <div class="row">
		<div class="col-md-8 col-md-offset-2">
		    <h1 class="text-center">?? Who Am I ??</h1>
		    
		    <p>That's an existential question many times, but this isn't a philosophy or metaphysics app. All it does is provide a little info on your browser and demonstrates the concept of Request Headers in a Node/Express environment.</p>
		    
		    <p>This is Basejump Challenge #2 in the Full Stack Developer Module of <a href="http://www.freecodecamp.com" target="_blank">FreeCodeCamp</a>.</p>
		    
		    <form action="/" method="post" class="text-center">
		    	<button type="submit" name="submit" class="btn btn-success">Get Info!</button>
		    </form>
		</div>
	  </div>		 
	</div>	<!-- container -->
  </body>
</html>